# Int, Float, Range

In [1]:
x = 0.2

In [2]:
x

0.2

In [3]:
type(x)

float

In [4]:
print("%.10f" %x)

0.2000000000

In [5]:
x = 2
y = -2

In [6]:
x # this is an integer

2

In [7]:
x = float(x) #change from integer tyep into float type
x

2.0

In [8]:
type(x)

float

In [9]:
x = int(x) # chnage back to int type
x

2

In [10]:
type(x)

int

In [11]:
import math

In [12]:
from math import sin, pi

In [13]:
if ( (x < 0) and (y > 0) ):
    f = (x - y)/3
elif( (x > 0) and (y < 0) ):
    f = math.sin(2*pi*x + y)/x

In [14]:
print('f = %.4f' % f)

f = -0.4546

In [15]:
c=1
while(c <=4):
    c +=1
    print(c)
else:
    print("Finish")

2
3
4
5
Finish

In [16]:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
r = 0
for i in range(1, 100001):
    r = r + 2
    
print(r)

200000

In [18]:
len(range(1,20,2))

10

In [19]:
t = 2
x = 0.2
for i in range(1, 10, 2):
    t /= x

t

6250.0